<app-header-admin></app-header-admin>
<br>
<h1 style="text-align: center;">Welcome to admin dashboard!</h1>
<br>
<div class="container">
    In order to continue your activity, please use the menu buttons from header. These are:
    <ul>
        <li><b>Students</b> - Handle the database for your students</li>
        <li><b>Articles</b> - Handle the articles from library</li>
        <li><b>Requested articles</b> - Check the requested articles by students and accept or decline their desires</li>
        <li><b>Students situation</b> - Check all the students situation and solve their situations regarding borrowing the articles</li>
    </ul>
</div>
