<app-header-admin></app-header-admin>
<br>
<h1 style="text-align: center;">Students situation</h1>
<div class="container table-responsive">
    <p *ngIf="reservedArticles.length !== 0">Students which reseved articles:</p>
    <table class="table table-striped"  *ngIf="reservedArticles.length !== 0">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">ISBN</th>
                <th scope="col">Reserved by</th>
                <th scope="col">Loan date</th>
                <th scope="col">Due date</th>
                <th scope="col">Penality ({{valute}})</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reservedArticles">
                <th>{{item.id}}</th>
                <th>{{item.title}}</th>
                <th>{{item.category}}</th>
                <th>{{item.isbn}}</th>
                <th>{{item.reservedby}}</th>
                <th>{{item.actualdate}}</th>
                <th>{{item.duedate}}</th>
                <th>{{ getDifferenceDueAndActual(item.actualdate, item.duedate) }}</th>
                <th>
                    <button class="btn btn-success" (click)="solveSituation(item.id, item.title, item.isbn)">Solve student situation</button>
                </th>
            </tr>
        </tbody>
    </table>
    <p *ngIf="reservedArticles.length === 0">No articles were reserved yet!</p>
</div>