    <app-header></app-header>
    <!-- Landing page with his content -->
    <div class="background-landing-page">
        <h1>Welcome to <span class="title-landing-page">BibOnline</span></h1>
        <b>Your online and powerful college library management system</b>
    </div>

    <!-- About us -->
    <h1 class="center" id="about-us">About us</h1>
    <div class="container justify">
        <p><span class="bold">BibOnline</span> represents an online college library management system which comes in your help to ensure a good quality in the management of all articles available in your college, such as books, scientific articles, CDs and DVDs.</p>
        <p>With the help of <span class="bold">BibOnline</span> you can ensure for your students the possibilty to borrow different articles from your library and manage easily their situations like statuses of the articles, the time until the item is returned, taxes for exceeding the borrow deadline. Also, as a librarian, you can easily manage the amount of your articles every day, from every device, from every browser, this library management system adapting a responsive platform.</p>
    </div>

    <!-- Features -->
    <h1 class="center" id="features">Features</h1>
    <div class="container justify">
        <div class="row">
            <div class="col-md-6">
                <h3>Articles management</h3>
                <p>As it was mentioned in description, as a librarian you can handle easily the stocks of your availabale articles with the help of some clicks.</p>
            </div>
            <div class="col-md-6">
                <h3>Students database management</h3>
                <p>You can ensure the access for your students which are enrolled to your school. This feature can be done only by the administrators of the library.</p>
            </div>
            <div class="col-md-6">
                <h3>Loan a lot of articles</h3>
                <p>We didn't forget you, students! You will have the possibility to loan different articles registered by your librarians and verify the statuses or taxes after deadline.</p>
            </div>
            <div class="col-md-6">
                <h3>Request articles</h3>
                <p>Your librarian has not an very desired article? No problem! As a student, you will have the possibility to request some articles and these requests will be treated as soon as possible by your librarian.</p>
            </div>
            <div class="col-md-6">
                <h3>Anytime, anywhere</h3>
                <p>As soon as you have an account to this platform, even if we talk about librarians or students, you can have everywhere, at every hour, access to our management system.</p>
            </div>
            <div class="col-md-6">
                <h3>Responsive application</h3>
                <p>In a world full of technology, a mandatory requirement is that to ensure an easy accesibility for every type of device. Happily, this management system answers affirmatively at this check.</p>
            </div>
        </div>
    </div>

    <!-- Demo -->
    <h1 class="center" id="demo">Demo</h1>
    <div class="container justify">
        <p>The presented features convinced you to use our app? Press <b>LOGIN</b> button from the navigation menu and introduce the provided data on the documentation and see how powerful is BibOnline, your library management system.</p>
    </div>

    <!-- Contact -->
    <h1 class="center" id="contact">Contact</h1>
    <div class="container justify">
        <p>If you have questions regarding this application, saw an abormal behaviour or, basically, we convinced to use this application in your college and integrate it, please contact the developer in order to give you all the necessary details.</p>
    </div>
    <app-footer></app-footer>