<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">BibOnline - {{username}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/available-articles">Available articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/reserved-articles">Reserved Articles</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-danger" type="button" routerLink="">LOGOUT</a>
            </li>
          </ul>
            
      </div>
    </div>
  </nav>